<ion-content>
<div class="header">
  <ion-buttons>
    <ion-button routerLink="/home/listing">
      <ion-icon slot="icon-only" color='light' name="arrow-back">
      </ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons>
    <ion-button>
      <ion-icon slot="icon-only" color='light' name="heart-outline">
      </ion-icon>
    </ion-button>
  </ion-buttons>
</div>

<!-- Milktea Detail Card -->
<div class="card">
  <div class="image">
    <ion-img [src]="food.image"></ion-img>
  </div>
  <div class="card-content">
    <div class="card-title">
      <h1 class="ion-no-margin">{{food.title}}</h1>
      <p class="ion-no-margin"><sup>P</sup>{{food.price | number: '1.2'}}</p>
    </div>
  </div>
  <div class="rates">
    <app-badge icon="home-outline" text="30m"></app-badge>
    <app-badge icon="heart-outline" text="4.5"></app-badge>
  </div>
</div>

</ion-content>
