ion-content{
    --background:#00a388;
    position: relative;
    .header{
        display: flex;
        justify-content: space-between;

        ion-button{
            height: 60px;
            width: 60px;

            ion-icon{
                font-size: 2rem;
            }
        }
    }
    .card{
        height: 77%;
        width: 100%;
        background: #ffffff;
        position: absolute;
        bottom: 0;
        border-radius: 3rem 3rem 0 0;
        padding: 1rem;

        .image{
            position: absolute;
            top: -5.5rem;
            left: 50%;
            transform: translateX(-50%);
        }
        .card-title{
            margin-top: 35%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5rem;
            h1{
                font-weight: 700;
                font-size: 1.5rem;
            }
            p{
                font-weight: 700;
                font-size: 1.5rem;
                color: black;

                sup{
                    font-size: 1rem;
                    margin-right: .1rem;
                }

            }
        }
        .rates{
            display: flex;
            align-items: center;
            margin-bottom: .5rem;
            width: 50%;
        }
        .about{
            h1{
                font-weight: 700;
                font-size: 16px;
            }
            p{
                font-size: 14px;
                line-height: 1.5;
                color: black;
                text-align: justify;
            }
        }
    }
}