<ion-content>

  <!--Items in cart-->

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let item of cartItems$|async">
      <ion-item>
        <app-cart-item [item]="item" (increase)="onIncrease(item)" (decrease)="onDecrease(item)" ></app-cart-item>
      </ion-item>
      <ion-item-options side='end'>
        <ion-item-option (click)="removeFromCart(item)">
          <ion-icon name='trash' size='large' color='danger'></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- empty cart-->

  <div class="empty-cart" *ngIf="!(cartItems$|async).length">
    <ion-icon name="cart-outline"></ion-icon>
    <p>Your cart is empty</p>
  </div>
  <p *ngIf="(cartItems$|async).length"> Address: 143 Alitagtag, Batangas</p>
  <p *ngIf="(cartItems$|async).length"> Payment: Gcash</p>
  <p *ngIf="(cartItems$|async).length">Shipping Fee: ₱ 50.00</p>
  <p *ngIf="(cartItems$|async).length">Total: <span> ₱ {{totalAmount$|async|number:'1.2'}}</span></p>
  <app-button *ngIf="(cartItems$|async).length"><p class="placr-order">PLACE ORDER</p></app-button>

</ion-content>
