ion-content{
    --padding-top:3.5rem;
    --padding-start:.5rem;
    --padding-end:.5rem;
    .title{
        font-weight: 700;
        color:black;
        margin-bottom: 2rem;
        padding-left: 1.6rem;
    }

    app-cart-item{
        display: block;
        width: 100%;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    ion-item-sliding{
        margin-bottom: 2rem;
        overflow:hidden;
        ion-item{
            --padding-start:0;
            --inner-padding-end:0;
            border-radius:25px;
        }
        ion-item-options{
            border: 2px solid white;
            border-radius: 25px;
            overflow: hidden;
            background:white;

            ion-item-option{
                background: white;
            }

        }
    }
    .empty-cart{
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #00a388;
        margin: auto;
        
        ion-icon{
            font-size: 8rem;
        }
        p{
            font-size: 1.8rem;
            text-align: center;
        }
    }
    app-button{
        display: block;
        padding-left: .5rem;
        align-items: center;
        span{
            margin-left: 10px;
            font-size: 1.5rem;

            sup{
                font-weight: 400;
                font-size: 0.9rem;
            }
        }
    }

}