.badge{
    background: #0059ff;
    color:rgb(255, 255, 255);
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    width: 80px;
    height: 8px;

    ion-icon{
        margin-right: 0.3rem;
        font-size: 1rem;
    }
}