ion-content{
    --background:#ffffff;
    position: relative;

    }
    .loc-details{
            
            align-items: left;
            margin-bottom: .5rem;

            h1{
                font-size: 25px;
                font-weight: 600;
                text-align:  left;
            }
            h3{
                font-size: 20px;
                text-align:  left;
            }
     }
