ion-toolbar{
    --background:#000000;
    color:white;
}
ion-content{
    --background:#ffffff;
    position: relative;

    }
    .loc-details{
            
            align-items: left;
            margin-left: .8rem;
            
            h4{
                font-size: 18px;
                font-weight: 600;
                text-align:  left;
                margin-bottom: .2rem;
            }
            
            h7{
                font-size: 13px;
                text-align:  left;
                margin-bottom: .2rem;
            } 
    }
