ion-item {
    border-radius: 20px;
    height: 55px;
    box-shadow: 0px 0px 0px 0px #ffffff;

    ion-input {
        font-size: 18px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 5px;
        border: 2px solid #00a388;
        border-radius: 10px;
        outline: none;
    }
    a{
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
}