ion-button{
    --background:#00a388;
    width: 100%;
    border-radius: 50%;
    text-transform: initial;
    font-size: 17px;
    text-align: center;
    --background-hover:#005748;
    --color-activated:#005748;
  }