ion-button{
    --box-shadow:none;
    --border-radius:1.8rem;
    --background:rgb(255, 117, 221);
    color: black;

    text-transform: initial;
    font-size: 1.2rem;
    font-weight: 600;
    height: 50px;
}