<ion-content>
  
  <div class="header">
   <div class="image">
      <img src="../assets/images/user-img.png"/>
  </div>
  <div class="user-details">
    <h1> User </h1>
    <h3><ion-icon name="location-outline"></ion-icon>Alitagtag, Batangas</h3>
<div class="list-details">
    <ion-list>
      <ion-item>
        <ion-button shape="round" fill="clear">Account Settings</ion-button>
      </ion-item>
      <ion-item>
        <ion-button shape="round" fill="clear">Help Center</ion-button>
      </ion-item>
    </ion-list>
  </div>
  </div>
</div>
  </ion-content>
  