ion-content{
    --background:#ffffff;
    position: relative;
   
        .image{
            position: absolute;
            align-items: center;
            top: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
            img{
                width:150px
            }
        }

    .user-details{
            margin-top: 60%;
            align-items: center;
            margin-bottom: .5rem;

            h1{
                font-size: 25px;
                font-weight: 600;
                text-align:  center;
            }
            h3{
                font-size: 20px;
                text-align:  center;
            }
            }
            .orders-details{
                ion-card-title{
                    font-weight: 700;
                }
                ion-button{
                    --background:#00a388;
                    width: 100%;
                    border-radius: 50%;
                    text-transform: initial;
                    font-size: 17px;
                    text-align: center;
                    --background-hover:#04c0a1;
                    --color-activated:#00a388;
                    
                    ion-icon{
                        font-size: 18px;
                        align-items: center;
                    }

    }}
    .logout-button{
        padding-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;

    }
}