ion-content{
    --background:#ffffff;
    position: relative;
    .header{
        height: 77%;
        width: 100%;
        background: #ffffff;
        position: absolute;
        bottom: 0;
        border-radius: 3rem 3rem 0 0;

        .image{
            position: absolute;
            align-items: center;
            top: -5.5rem;
            left: 50%;
            transform: translateX(-50%);
            
        }

    }
    .user-details{
            margin-top: 20%;
            align-items: center;
            margin-bottom: .5rem;

            h1{
                font-size: 25px;
                font-weight: 600;
                text-align:  center;
            }
            h3{
                font-size: 20px;
                text-align:  center;
            }
            }
            ion-card-title{
                font-weight: 700;
            }
            ion-button{
                --box-shadow:none;
                --border-radius:1rem;
                --background:#00a388;
                color: white;

                font-size: 1rem;
                height: 35px;
                width: 100%;
                align-items: center;
                
                ion-icon{
                    font-size: 18px;
                    align-items: center;
                }

    }
}