<ion-content>
  
  <div class="header">
   <div class="image">
      <img src="../assets/images/user-img.png"/>
  </div>
  <div class="user-details">
    <h1> Maxpein Moon </h1>
    <h3>Alitagtag, Batangas</h3>

<!---ORDER DETAILS-->
      <div class="orders-details">
      <ion-card>
          <ion-card-header>
            <ion-card-title>My Orders</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block"><ion-icon name="wallet"></ion-icon>To Pay</ion-button>
            <ion-button expand="block"><ion-icon name="cart"></ion-icon>To Ship</ion-button>
            <ion-button expand="block"><ion-icon name="car"></ion-icon>To Receive</ion-button>
          </ion-card-content>
        </ion-card></div>
  </div>

</div>
  </ion-content>
  