ion-content{
    --padding-start: 3rem;
    --padding-end: 3rem;
    margin: auto;
    align-items: center;
      .welcome-container {
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          align-items: center;
        
        }
        .logo{
          width: 80%;
        }
        .button-logsign{
          align-items: center;

        }
        ion-button{
          --background:green;
          width: 100%;
        }
        
  }