
<ion-content class="ion-padding ion-text-center">
  <div class="welcome-container">
    <div class="logo-container">
      <img class="logo" src="../assets/images/logo.png" />
      <p>Get your milktea delivered <br>to you  at your home </p>
    </div>
    <div class="button-logsign">
    <ion-button expand="block" shape="round" routerLink="/home">Get Started</ion-button>
    <ion-button class="login-button" expand="block" fill="outline" color="success" shape="round" routerLink="/login">Login</ion-button>
  </div>
  </div>
</ion-content>