ion-tab-bar{
    border-color: rgb(211, 255, 200);
    ion-tab-button{
        background-color: rgb(211, 255, 200);
        ion-icon{
            font-size: 1.5rem;
            color:black;
        }
    }
}