<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="listing">
          <ion-icon name="home-outline"></ion-icon>
          
      </ion-tab-button>
      <ion-tab-button tab="location">
          <ion-icon name="location-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>
      <ion-tab-button tab="wishlist">
          <ion-icon name="heart-outline"></ion-icon>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>